<nav class="navbar navbar-dark bg-dark navbar-expand-xl nav-cruise d-flex flex-column">
    <div class="lang">
        <i class="bi bi-globe"></i>
        <a href="#" class="active">EN</a>
        <span>|</span>
        <a href="#">VN</a>
    </div>
    <div class="container-fluid justify-content-between justify-content-lg-center">
        <a class="navbar-brand" href="./index.html"><img src="./images/logo.png" alt="logo" class="lazy" /></a>
       
         <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <div class="hamburger-toggle">
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-center mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="./booking.html" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        OUR CRUISES
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="./oneboat.html">The
                                Au Co</a></li>
                        <li><a class="dropdown-item" href="./oneboat.html">Bhaya Classic</a></li>
                        <li><a class="dropdown-item" href="./oneboat.html">Bhaya Premium</a></li>
                        <li><a class="dropdown-item" href="./oneboat.html">Bhaya Legend</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="./tour-list.html" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Cruise Itineraries
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="./tour-list.html">2 day 1 night</a></li>
                        <li><a class="dropdown-item" href="./tour-list.html">3 day 2 night</a></li>
                        <li><a class="dropdown-item" href="./tour-list.html">1 day 1 night</a></li>
                        <li><a class="dropdown-item" href="./tour-list.html">4 day 3 night</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./offer.html">Offers</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Guest Reviews
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="./testimonial.html">The Au Co</a></li>
                        <li><a class="dropdown-item" href="./testimonial.html">Bhaya Classic</a></li>
                        <li><a class="dropdown-item" href="./testimonial.html">Bhaya Premium</a></li>
                        <li><a class="dropdown-item" href="./testimonial.html">Bhaya Legend</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Gallery
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="./gallery.html">The Au Co</a></li>
                        <li><a class="dropdown-item" href="./gallery.html">Bhaya Classic</a></li>
                        <li><a class="dropdown-item" href="./gallery.html">Bhaya Premium</a></li>
                        <li><a class="dropdown-item" href="./gallery.html">Bhaya Legend</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./about.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./booking.html">Book your cruise</a>
                </li>
            </ul>

        </div>
    </div>
</nav>