@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: 'Helvetica Neue';
    src: url('./../../fonts/helveticaneue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Helvetica Neue';
    src: url('./../../fonts/helveticaneuebold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Helvetica Neue';
    src: url('./../../fonts/helveticaneuebolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
@font-face {
    font-family: 'Helvetica Neue';
    src: url('./../../fonts/helveticaneueitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
// $light: #f9fafc;
$primary: #c6b36f;
$transation: all ease-in-out 0.3s;
$transation05: all ease-in-out 0.5s;
$font-title: 'Helvetica Neue',Helvetica,sans-serif,
sans-serif;
$font-family-base: 'EB Garamond', serif,
sans-serif;
// $theme-colors: (
//   "primary": $primary,
//   "light": $light,
//   "danger": $danger
// );
