@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Viaoda+Libre&display=swap");
// $light: #f9fafc;
$primary: #c6b36f;
$transation: all ease-in-out 0.3s;
$transation05: all ease-in-out 0.5s;
$font-title: "Viaoda Libre",
sans-serif;
$font-family-base: "Inter",
sans-serif;
// $theme-colors: (
//   "primary": $primary,
//   "light": $light,
//   "danger": $danger
// );