.footer {
  padding: 4rem 0;
  margin-top: 4rem;
  background: #545454;
  color: #eee;

  a {
    color: rgba($color: #fff, $alpha: 1);
    display: block;
    text-align: left;
    text-decoration: none;
    margin: 0.5rem 0;

    &.parent {
      color: #222;
      margin-bottom: 1rem;
    }

    &:hover {
      color: $primary;
    }
  }
  .title{
    color: #fff;
  }
  .form-text{
    color: rgb(226, 226, 205);
  }
  .btn-primary{
    height: 50px;
    &:hover{
      color: $primary !important;
    }
  }
  h5{
    margin-bottom: 1rem;
    font-weight: 600 !important;
  }
}

.copy {
  padding: 3rem 0;
  color: #bbb;
  font-size: 0.8rem;
}

.link-social a {
  margin-right: 1rem;
  color: #222;
  font-size: 1.5rem;

  &:hover {
    color: $primary;
  }
}
