.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;


  // video,
  // iframe {
  //   object-fit: cover;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }
}

// main {
//   margin-top: 100vh;
// }

.lang {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  align-items: center;

  >* {
    color: #888;
    margin: 8px 4px 0;
    font-size: 80%;
    font-family: $font-title;
  }

  a:hover {
    color: #ccc;
  }

  a.active {
    color: #fff;
  }

  span {
    font-size: 60%;
  }
}

.nav-cruise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: linear-gradient(#2a2a2a, transparent);
  background-color: transparent !important;

  @include media-breakpoint-up(xl) {}

  .navbar-collapse {
    flex-grow: 0;
  }

  .nav-item {
    &>.nav-link {
      text-transform: uppercase;
      padding: 0.75rem;
      margin: 0 0.75rem;
      font-family: $font-title;
      color: #fff;
      font-size: 1rem;
    }

    &:last-child {
      .nav-link {
        color: $primary;
        border: 1px solid $primary;
        background: rgba($color: #000000, $alpha: 0.5);

        &:hover {
          background: $primary;
          color: #fff;
          border: 1px solid rgba($color: #000000, $alpha: 0.2);
        }
      }
    }
  }
  &.fade-in {
    background-color: rgba(31, 30, 27, 1) !important;
    position: fixed;
    animation: smoothScroll 1s forwards;
    box-shadow: 0px 0px 60px rgba(150, 150, 150, 0.08),
    0px 3px 8px -1px rgba(50, 50, 71, 0.2);
    .lang{
      position: absolute;
      top: 1.25rem;
      right: 5rem;
      left: auto;
      width: 4rem;
    }
  }

}
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}
@include media-breakpoint-up(lg) {
  .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition: all 0.5s;
    min-width: 100%;
    &.datepicker{
      visibility: visible;
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}

.dropdown-menu {
  border: 0;
  background-color: rgba($color: #fff, $alpha: 0.92);
  font-family: $font-title;

  .dropdown-item {
    padding: 0.5rem 1rem;
  }
}

// list-boat
.list-boat {
  // border-top: 1px solid #fff;
  position: absolute;
  z-index: 999;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 2rem;
  padding-bottom: 4rem;
  background: linear-gradient(transparent, #2a2a2a);

  a {
    color: #fff;
    font-family: $font-title;
    line-height: 1.5;
  }
}

// list tienich
.cruise-icon {
  position: absolute;
  z-index: 999;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;

  .swiper {
    max-width: 90%;
    margin: 0 auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;

    &::after {
      font-size: 24px;
    }
  }

  .col-6 {
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;

    }
  }
}

.nav-bgr {
  background-color: #2a2a2a !important;
}