.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: rgb(31, 30, 27);

  // video,
  // iframe {
  //   object-fit: cover;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }
}

// main {
//   margin-top: 100vh;
// }

.lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  >* {
    color: #999;
    font-size: 86%;
    font-family: $font-title;
  }

  a {

    padding: 4px 8px;
  }

  a:hover {
    color: #ccc;
  }

  a.active {
    color: #fff;
  }

  span {
    font-size: 60%;
  }
}

.nav-cruise {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1020;
  background-color: #2a2a2a;

  @include media-breakpoint-up(xl) {
    position: absolute;
    background: linear-gradient(#2a2a2a, transparent) !important;
    background-color: transparent;
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .nav-item {
    &>.nav-link {
      text-transform: uppercase;
      padding: 0.75rem;
      margin: 0 .25rem;
      font-family: $font-title;
      color: #fff;
      font-size: .96rem;

      @include media-breakpoint-up(xxl) {
        margin: 0 .75rem;
      }

      &:hover {
        color: $primary;
      }


    }

    &:hover>a {
      color: $primary;
    }

    &.btn-booking {
      .nav-link {
        font-weight: 700;
        font-size: 68%;
        letter-spacing: 1px;
        color: $primary;
        border: 1px solid $primary;
        background: rgba($color: #000000, $alpha: 0.5);
        text-align: center;

        &:hover {
          background: $primary;
          color: #fff;
          border: 1px solid rgba($color: #000000, $alpha: 0.2);
        }
      }
    }

    &.lang-item {
      right: -5rem;
    }
  }

  &.fade-in {
    background-color: rgba(31, 30, 27, 1) !important;
    position: fixed;
    animation: smoothScroll 1s forwards;
    box-shadow: 0px 0px 60px rgba(150, 150, 150, 0.08),
      0px 3px 8px -1px rgba(50, 50, 71, 0.2);

    @include media-breakpoint-up(xl) {
      justify-content: space-around;
      padding-right: 5rem;
    }

    @include media-breakpoint-up(xxl) {
      padding-right: 0;
    }


  }

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: var(--bs-dropdown-link-hover-bg);
    color: $primary;
  }

  .lang {
    position: absolute;
    top: 1.25rem;
    right: 5rem;
    left: auto;
    width: 6rem;

    @include media-breakpoint-up(xl) {
      top: 2.2rem;
      right: 1rem;
    }

    @include media-breakpoint-up(xxl) {
      top: 1.25rem;
      right: 5rem;
      left: auto;
    }
  }
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@include media-breakpoint-up(lg) {
  .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition: all 0.5s;
    min-width: 100%;

    &.datepicker {
      visibility: visible;
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}

.dropdown-menu {
  border: 0;
  background-color: rgba($color: #fff, $alpha: 0.92);
  font-family: $font-title;

  .dropdown-item {
    padding: 0.5rem 1rem;
  }
}

// list-boat
.list-boat {
  // border-top: 1px solid #fff;
  position: relative;

  @include media-breakpoint-up(xl) {
    position: absolute;
  }

  z-index: 999;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 2rem;
  padding-bottom: 4rem;
  background: linear-gradient(transparent, #2a2a2a);

  a {
    color: #fff;
    font-family: $font-title;
    line-height: 1.5;
  }
}

// list tienich
.cruise-icon {
  position: relative;

  @include media-breakpoint-up(xl) {
    position: absolute;
  }

  z-index: 999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;

  .swiper {
    max-width: 90%;
    margin: 0 auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;

    &::after {
      font-size: 24px;
    }
  }

  .col-6 {
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;

    }
  }
}

.nav-bgr {
  background-color: #2a2a2a !important;
}

.cruise-icon-inner {
  .swiper-wrapper {
    justify-content: space-between;

    @include media-breakpoint-up(xl) {
      justify-content: inherit;
    }
  }

  .swiper-slide {
    .d-flex {
      flex-direction: column;
      max-width: 120px;
      text-align: center;
      margin: 0 auto;

      @include media-breakpoint-up(xl) {
        flex-direction: row;
        max-width: inherit;
      }
    }

    .fs-5 {
      font-size: 1rem !important;

      @include media-breakpoint-up(xl) {
        font-size: 1.25rem !important;
      }
    }
  }
}