<div class="card h-100">
  <a href="./tour-detail.html" class="img"><img src="https://placehold.jp/600x400.png"
      class="card-img-top"
      alt="..."
    /></a>
  <div class="card-body w-100">
    <div class="subtitle">The Au Co</div>
    <a class="card-title" href="./tour-detail.html">2 Days Highlights of Halong
      Bay on Classic Cruise</a>
    <p class="card-text"><i class="ri-map-pin-line me-1"></i>Halong Bay, Sung
      Sot Cave, Titov Island, Trinh Nu Cave Area</p>
    <div
      class="card-footer d-flex justify-content-between w-100 align-items-center"
    >
      <div class="all-price">
        <small class="text-muted"><del>US$182</del> </small>
        <div class="d-flex flex-row">
          <span class="text-price text-nowrap">US$155</span><span>/person</span>
        </div>
      </div>

      <a href="./tour-detail.html" class="btn btn-primary">
        <span>View detail</span>
        <i class="ri-arrow-right-line"></i>
      </a>
    </div>
    <div class="best-tour">
      <i class="ri-shield-check-line me-1"></i>
      Best rate guarantee Best rate guaranteed
    </div>
  </div>

</div>