<div
  class="item-review d-flex justify-content-center flex-column align-items-center"
>
  <div class="user d-flex align-items-center">
    <div class="avt rounded-circle me-3">
      <i class="ri-map-pin-user-fill"></i>
      <img src="https://placehold.jp/52x52.png"
        alt="logo"
        class="img-fluid object-fit-cover"
      />
    </div>
    <div class="name-time text-start">
      <span class="text-center d-block fs-6 fw-bold">
        Do Ngoc Long
      </span>
      <span class="date small">
        01 Dec 2019
      </span>
    </div>
  </div>
  <div class="rattings d-flex justify-content-center my-3">
    <div class="item-rate mx-1">
    </div>
    <div class="item-rate mx-1">
    </div>
    <div class="item-rate mx-1">
    </div>
    <div class="item-rate mx-1">
    </div>
    <div class="item-rate mx-1">
    </div>
  </div>
  <div class="title-review title fs-4 line-2 mb-2 text-success">
    A beautiful experience!
  </div>
  <div class="dec line-4">
    I was very impressed with the Bhaya experience! It was a wonderful welcome
    by the crew as we headed down the walkway to a beautifully maintained wooden
    junk. All rooms face the magical view of the limestone out crops and the
    private terraces add to the All rooms face the magical view of the limestone
    out crops and the private terraces add to theAll rooms face the magical view
    of the limestone out crops and the private terraces add to theAll rooms face
    the magical view of the limestone out crops and the private terraces add to
    the
  </div>
</div>