<div class="item-hoz d-flex flex-column flex-lg-row py-5 border-bottom">
    <div class="user col-12 col-lg-3 d-flex flex-column align-items-center">
        <div class="avt avt-lg d-flex flex-column rounded-circle mb-2">
            <i class="ri-map-pin-user-fill"></i>
            <img src="https://placehold.jp/52x52.png" alt="logo" class="img-fluid object-fit-cover swiper-lazy" />
        </div>
        <div class="name-time text-start">
            <span class="text-center d-block fs-6 fw-bold">
                Do Ngoc Long
            </span>

        </div>
    </div>
    <div class="content px-3 col-12 col-lg-9">
        <div class="rattings d-flex justify-content-start mb-2">
            <div class="item-rate mx-1">
            </div>
            <div class="item-rate mx-1">
            </div>
            <div class="item-rate mx-1">
            </div>
            <div class="item-rate mx-1">
            </div>
            <div class="item-rate mx-1">
            </div>
        </div>
        <span class="date small">
            01 Dec 2019
        </span>
        <div class="fs-4 text-trip title my-3">Vietnamese Culture & Beauty Served up with a Smile!</div>
        <div class="dec">
            Founded with the vision of helping more people appreciate the rare beauty
            of Halong Bay, Bhaya Cruises have firmly adhered to responsible practices
            on its Halong cruises since initial operations. The practices are designed
            to ensure the bay's environmental integrity, now & in the future, as well
            as seeing to it that local communities benefit from tourism while still
            preserving their unique culture.
        </div>
    </div>
</div>