<div class="item-hoz d-flex flex-column flex-lg-row my-4">
  <img src
    data-src="https://placehold.jp/600x400.png"
    alt="img"
    class="img-fluid object-fit-cover mb-3"
  />
  <div class="content p-3 p-lg-5">
    <div
      class="fs-3 title text-primary border-bottom border-primary pb-2 mb-4"
    >Responsible Cruising</div>
    <div class="dec">
      Founded with the vision of helping more people appreciate the rare beauty
      of Halong Bay, Bhaya Cruises have firmly adhered to responsible practices
      on its Halong cruises since initial operations. The practices are designed
      to ensure the bay's environmental integrity, now & in the future, as well
      as seeing to it that local communities benefit from tourism while still
      preserving their unique culture.
    </div>
  </div>
</div>