<img src="https://placehold.jp/400x600.png" alt="logo" class="img-fluid" />
<div class="text-center title fs-5 mt-3 text-uppercase">
  Steel ships with safety guarantee
</div>
<div class="redmore text-decoration-underline text-center mt-4">Readmore</div>