<!-- Swiper -->

<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img class="swiper-lazy img-fluid" src="https://placehold.jp/3d4070/ffffff/600x600.png" />
        </div>
        <div class="swiper-slide">
            <img class="swiper-lazy img-fluid" src="https://placehold.jp/3d4070/ffffff/600x600.png" />
        </div>
        <div class="swiper-slide">
            <img class="swiper-lazy img-fluid" src="https://placehold.jp/3d4070/ffffff/600x600.png" />
        </div>
        <div class="swiper-slide">
            <img class="swiper-lazy img-fluid" src="https://placehold.jp/3d4070/ffffff/600x600.png" />
        </div>
        <div class="swiper-slide">
            <img class="swiper-lazy img-fluid" src="https://placehold.jp/3d4070/ffffff/600x600.png" />
        </div>
        <div class="swiper-slide">
            <img class="swiper-lazy img-fluid" src="https://placehold.jp/3d4070/ffffff/600x600.png" />
        </div>
        <div class="swiper-slide">
            <img class="swiper-lazy img-fluid" src="https://placehold.jp/3d4070/ffffff/600x600.png" />
        </div>
        <div class="swiper-slide">
            <img class="swiper-lazy img-fluid" src="https://placehold.jp/3d4070/ffffff/600x600.png" />
        </div>
        <div class="swiper-slide">
            <img class="swiper-lazy img-fluid" src="https://placehold.jp/3d4070/ffffff/600x600.png" />
        </div>
        <div class="swiper-slide">
            <img class="swiper-lazy img-fluid" src="https://placehold.jp/3d4070/ffffff/600x600.png" />
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<div thumbsSlider="" class="swiper mySwiper mt-2">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img srchttps://placehold.jp/3d4070/ffffff/100x100.png" />
        </div>
        <div class="swiper-slide">
            <img srchttps://placehold.jp/3d4070/ffffff/100x100.png" />
        </div>
        <div class="swiper-slide">
            <img srchttps://placehold.jp/3d4070/ffffff/100x100.png" />
        </div>
        <div class="swiper-slide">
            <img srchttps://placehold.jp/3d4070/ffffff/100x100.png" />
        </div>
        <div class="swiper-slide">
            <img srchttps://placehold.jp/3d4070/ffffff/100x100.png" />
        </div>
        <div class="swiper-slide">
            <img srchttps://placehold.jp/3d4070/ffffff/100x100.png" />
        </div>
        <div class="swiper-slide">
            <img srchttps://placehold.jp/3d4070/ffffff/100x100.png" />
        </div>
        <div class="swiper-slide">
            <img srchttps://placehold.jp/3d4070/ffffff/100x100.png" />
        </div>
        <div class="swiper-slide">
            <img srchttps://placehold.jp/3d4070/ffffff/100x100.png" />
        </div>
        <div class="swiper-slide">
            <img srchttps://placehold.jp/3d4070/ffffff/100x100.png" />
        </div>
    </div>
</div>