<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Webpack Boilerplate Starter Template</title>
  <meta name="description"
    content="Simple starter webpack 5 project template boilerplate supporting SASS/PostCSS, Babel ES7, browser syncing, code linting. Easy project setup having multiple features and developer friendly tools." />
  <meta name="keywords"
    content="webpack, webpack-configuration, template, boilerplate, setup, html, css, sass, javascript" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Plamen Nikolov, WeAreAthlon" />
</head>

<body>
  {{>layouts/header}}
  <div class="main mt-100vh">
    <section class="has-padding">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="group-title">
              <h2 class="fs-1 title">EXCLUSIVE OFFERS</h2>
              

              <div class="fs-2 title subtitle">Special packages offering value, adventure, or luxury</div>
              <div class="dec  mt-3">One of the first overnight Halong Bay cruises and now the largest cruise company
                with 17 ships, experiences in one of Vietnam’s most beautiful destinations. From intimate single-cabin
                ships on a completely personalized itinerary to vintage cruisers sailing our very own route between
                Halong and Lan Ha bays, our cruises are designed to show you a quieter, more exclusive side of Halong.
              </div>
            </div>
          </div>

        </div>
        <!-- Swiper -->
        <div class="swiper swiper-tours">
          <div class="d-flex justify-content-center align-items-center my-3">
            <div class="prev-tours"><i class="ri-arrow-left-line"></i></div>
            <div class="swiper-pagination"></div>
            <div class="next-tours"><i class="ri-arrow-right-line"></i></div>
          </div>



          <div class="swiper-wrapper">
            <div class="swiper-slide">{{>components/card}}</div>
            <div class="swiper-slide">{{>components/card}}</div>
            <div class="swiper-slide">{{>components/card}}</div>
            <div class="swiper-slide">{{>components/card}}</div>
            <div class="swiper-slide">{{>components/card}}</div>
            <div class="swiper-slide">{{>components/card}}</div>
            <div class="swiper-slide">{{>components/card}}</div>
            <div class="swiper-slide">{{>components/card}}</div>
            <div class="swiper-slide">{{>components/card}}</div>
          </div>

        </div>

      </div>
    </section>
    <section class="has-padding gradient">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="group-title">
              <h2 class="fs-1 title">Cruise with Halong’s Largest and Most Trusted Line</h2>
              

              <div class="fs-2 title subtitle">Exclusive itineraries. Environmentally responsible.
                Endless choices.</div>
              <div class="dec  mt-3">One of the first overnight Halong Bay cruises and now the largest cruise company
                with 17 ships, Bhaya Cruises is all about delivering unique travel experiences in one of Vietnam’s most
                beautiful destinations. From intimate single-cabin ships on a completely personalized itinerary to
                vintage cruisers sailing our very own route between Halong and Lan Ha bays.</div>
            </div>
          </div>
        </div>
        <div class="row">
         
          <div class="col-lg-3 mb-4">
            <div class="card h-100">
              <a href="./tour-detail.html" class="img ratio ratio-1x1"><img
                  src="https://placehold.jp/600x600.png" class="card-img-top" alt="..." /></a>
              <div class="card-body w-100">
                <a class="subtitle  fs-6 d-block mb-2  title text-uppercase"
                  href="./tour-detail.html">BHAYA CLASSIC</a>
                <div class="card-text line-3 text-center">One of the prettiest ships in Halong, the steel-hulled Au Co offers smooth
                  sailing through Halong and Lan Ha bays. </div>
                <div class="mt-auto">
                  {{!-- <a class="card-title" href="./tour-detail.html">2 Days Highlights of Halong
                    Bay on Classic Cruise</a> --}}
                  <div class="card-footer d-flex justify-content-between w-100 align-items-center">
                    <div class="all-price">
                      <small class="text-muted">AVG.PP</small>
                      <div class="d-flex flex-row">
                        <span class="text-price text-nowrap">US$155</span><span>/person</span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-3 mb-4">
            <div class="card h-100">
              <a href="./tour-detail.html" class="img ratio ratio-1x1"><img
                  src="https://placehold.jp/600x600.png" class="card-img-top" alt="..." /></a>
              <div class="card-body w-100">
                <a class="subtitle  fs-6 d-block mb-2  title text-uppercase"
                  href="./tour-detail.html">BHAYA CLASSIC</a>
                <div class="card-text line-3 text-center">One of the prettiest ships in Halong, the steel-hulled Au Co offers smooth
                  sailing through Halong and Lan Ha bays. </div>
                <div class="mt-auto">
                  {{!-- <a class="card-title" href="./tour-detail.html">2 Days Highlights of Halong
                    Bay on Classic Cruise</a> --}}
                  <div class="card-footer d-flex justify-content-between w-100 align-items-center">
                    <div class="all-price">
                      <small class="text-muted">AVG.PP</small>
                      <div class="d-flex flex-row">
                        <span class="text-price text-nowrap">US$155</span><span>/person</span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-3 mb-4">
            <div class="card h-100">
            <a href="./tour-detail.html" class="img ratio ratio-1x1"><img
                  src="https://placehold.jp/600x600.png" class="card-img-top" alt="..." /></a>
              <div class="card-body w-100">
                <a class="subtitle  fs-6 d-block mb-2  title text-uppercase"
                  href="./tour-detail.html">BHAYA CLASSIC</a>
                <div class="card-text line-3 text-center">One of the prettiest ships in Halong, the steel-hulled Au Co offers smooth
                  sailing through Halong and Lan Ha bays. </div>
                <div class="mt-auto">
                  {{!-- <a class="card-title" href="./tour-detail.html">2 Days Highlights of Halong
                    Bay on Classic Cruise</a> --}}
                  <div class="card-footer d-flex justify-content-between w-100 align-items-center">
                    <div class="all-price">
                      <small class="text-muted">AVG.PP</small>
                      <div class="d-flex flex-row">
                        <span class="text-price text-nowrap">US$155</span><span>/person</span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-3 mb-4">
            <div class="card h-100">
              <a href="./tour-detail.html" class="img ratio ratio-1x1"><img
                  src="https://placehold.jp/600x600.png" class="card-img-top" alt="..." /></a>
              <div class="card-body w-100">
               <a class="subtitle  fs-6 d-block mb-2  title text-uppercase"
                  href="./tour-detail.html">BHAYA CLASSIC</a>
                <div class="card-text line-3 text-center">One of the prettiest ships in Halong, the steel-hulled Au Co offers smooth
                  sailing through Halong and Lan Ha bays. </div>
                <div class="mt-auto">
                  {{!-- <a class="card-title" href="./tour-detail.html">2 Days Highlights of Halong
                    Bay on Classic Cruise</a> --}}
                  <div class="card-footer d-flex justify-content-between w-100 align-items-center">
                    <div class="all-price">
                      <small class="text-muted">AVG.PP</small>
                      <div class="d-flex flex-row">
                        <span class="text-price text-nowrap">US$155</span><span>/person</span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="has-padding">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="group-title">
              <h2 class="fs-1 title">HALONG BAY
              </h2>
              

              <div class="fs-2 title subtitle">Latest Updates</div>

            </div>
          </div>
        </div>
        <div class="row mt-0 mt-lg-4 align-items-start">
          <div class="col-lg-4 px-3 px-lg-5 mt-0 mt-lg-5">
            <div class="news-item mb-5">
              <a class="title-new text-primary fs-5 mb-2 line-2" href="#">
                Bhaya Cruises Officially Collaborate with Refill My Bottle
              </a>
              <div class="decription line4">
                Started in October 2019, Bhaya Cruises have officially joined RefillMyBottle’s network. Passengers
                cruising with Bhaya fleet can now drink free water and use Bhaya water bottles to get their refill
                conveniently.

              </div>
            </div>
            <div class="news-item mb-5">
              <a class="title-new text-primary fs-5 mb-2 line-2" href="#">
                Save the langur
              </a>
              <div class="decription line-4">
                Bhaya Cruise has been one of the earliest supporter to the conservation of the Cat Ba Langur - which is
                amongst the rarest and most critically endangered primates in the world.

              </div>
            </div>
          </div>
          <div class="col-lg-4 position-relative ">
            <div class="img-transform-1">
              <img src="https://placehold.jp/400x600.png" alt="#">
            </div>
            <div class="img-transform-2">
              <img src="https://placehold.jp/400x600.png" alt="#">
            </div>
          </div>
          <div class="col-lg-4 px-3 px-lg-5 pt-5 pt-lg-0 mt-5 mt-lg-5">
            <div class="news-item mb-5 ">
              <a class="title-new text-primary fs-5 mb-2 line-2" href="#">
                Bhaya Cruises Officially Collaborate with Refill My Bottle Bhaya Cruises Officially Collaborate with
                Refill My Bottle
              </a>
              <div class="decription line-4">
                Started in October 2019, Bhaya Cruises have officially joined RefillMyBottle’s network. Passengers
                cruising with Bhaya fleet can now drink free water and use Bhaya water bottles to get their refill
                conveniently.
                in October 2019, Bhaya Cruises have officially joined RefillMyBottle’sin October 2019, Bhaya Cruises
                have officially joined RefillMyBottle’sin October 2019, Bhaya Cruises have officially joined
                RefillMyBottle’sin October 2019, Bhaya Cruises have officially joined RefillMyBottle’s
              </div>
            </div>
            <div class="news-item mb-5 ">
              <a class="title-new text-primary fs-5 mb-2 line-2" href="#">
                Save the langur
              </a>
              <div class="decription line-4">
                Bhaya Cruise has been one of the earliest supporter to the conservation of the Cat Ba Langur - which is
                amongst the rarest and most critically endangered primates in the world.

              </div>
            </div>
          </div>
        </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <img data-src="images/tripadvisor2022.png" width="120" class="img-fluid mx-auto mb-3">
            <!-- Swiper -->
            <div class="swiper slider-testimonial">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  {{>components/item-review}}
                </div>
                <div class="swiper-slide"> {{>components/item-review}}</div>
                <div class="swiper-slide"> {{>components/item-review}}</div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  {{>layouts/footer2}}
</body>

</html>