// .mt-100vh {
//   margin-top: 100vh;
// }

.object-fit-cover {
  object-fit: cover;
}

.group-title {
  max-width: 680px;
  margin: 0 auto 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  /* Theme/White/Default */
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 60px rgba(150, 150, 150, 0.08),
    0px 3px 8px -1px rgba(50, 50, 71, 0.4);
  border-radius: 0;
  border: 0;

  .img {
    // padding: 1rem 1rem 0;
    padding: 0;
  }

  img {
    border-radius: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    color: #62fcf2;
  }

  .card-body {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-footer {
    padding: 0;
    background-color: transparent;
    border: 0;
  }

  .subtitle {
    text-transform: uppercase;
    color: rgba(31, 30, 27, 1) !important;
    font-family: $font-title;
    letter-spacing: 2px;
    font-size: .85rem !important;
    font-weight: 700;
    padding: 1rem 0 2rem;
    position: relative;
    text-align: center;
    line-height: 1.5;

    &::after {
      position: absolute;
      height: 2px;
      width: 32px;
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 1rem;
      background-color: rgba(31, 30, 27, 1);
    }
  }

  .card-title {
    text-align: center;
    color: rgba(31, 30, 27, 1) !important;
    line-height: 1.5;
    display: block;
    font-family: $font-title;
    font-size: .85rem !important;
    letter-spacing: 1px;

    &:hover {
      color: $primary !important;
    }

    // letter-spacing: 1px;
  }

  .card-text {
    color: rgba(31, 30, 27, .8);
    margin-bottom: 1rem;
    height: 100%;
  }

  .text-mute {
    text-decoration: line-through;
  }

  .all-price {
    font-family: $font-title;
    font-size: 90%;

    .d-flex.flex-row {
      gap: 4px;

      * {
        font-size: 90%;
      }
    }
  }

  .text-price {
    font-weight: 400;
    font-size: 1rem;
    color: $primary;
  }
}

.btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;
  min-height: 38px;
  font-weight: 400;
  text-transform: uppercase;
  background: $primary;
  border-radius: 4px;
  transition: $transation;
  background: rgb(31, 30, 27);
  color: #fff;
  font-size: .6rem;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: $font-title;

  border: 0;
  color: #fff;

  &.btn-lg {
    font-size: .8rem;
  }

  &.btn-md {
    font-size: 0.6rem;
  }

  &:hover {
    background: rgb(31, 30, 27);
    color: $primary !important;
  }

  i {
    font-weight: normal;
  }

  &.outline {
    border: 1px solid rgb(31, 30, 27);
    color: rgb(31, 30, 27);

    &:hover {
      background: rgb(31, 30, 27);
      color: $primary;
    }
  }
}

.has-padding {
  padding: 3rem 0;

  @include media-breakpoint-up(lg) {
    padding: 4rem 0;
  }
}

.gradient {
  background: #f2f2f2;

  @include media-breakpoint-up(lg) {
    // background: linear-gradient(
    //     105.16deg,
    //     #fffaee 17.27%,
    //     rgba(255, 255, 255, 0.536458) 44.28%,
    //     #ffffff 78.27%
    //   ),
    //   #fffef8;
    background: #f2f2f2;
  }

  backdrop-filter: blur(50px);
}

.img-transform-1 {
  transform: rotate(-3deg);
  box-shadow: 0px 0px 60px rgb(150 150 150 / 8%), 0px 3px 8px -1px rgb(50 50 71 / 40%);
  max-width: 240px;
  position: relative;
  left: 2rem;

  @include media-breakpoint-up(lg) {
    max-width: 280px;
    left: 0;
  }

  img {
    max-width: 100%;
  }
}

.img-transform-2 {
  box-shadow: 0px 0px 60px rgb(150 150 150 / 8%), 0px 3px 8px -1px rgb(50 50 71 / 40%);
  transform: rotate(5deg);
  max-width: 180px;

  @include media-breakpoint-up(lg) {
    max-width: 220px;
    right: 0;
  }

  position: absolute;
  bottom: -4rem;
  right: 2rem;

  img {
    max-width: 100%;
  }
}

#warning {
  padding: 10px;
  color: beige;
  background-color: red;
}

.name-time {
  font-family: $font-title;
}

.img-cover {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.fixed-chat {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  z-index: 100;

  a {
    background-color: #fff;
    color: #aaa;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;

    &:nth-child(1):hover {
      background: #25d366;
      color: #fff;
    }

    &:nth-child(2):hover {
      background: #00B2FF;
      color: #fff;
    }
  }

}