<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h5 class="title fs-5 fw-normal">Be the first to get News and special offers
        </h5>
        <ul class="list-inline d-flex align-items-start justify-content-center form-request">
          <li class="list-inline-item col-lg-4 position-relative">
            <input type="email" class="form-control form-control-edit rounded-2" id="" aria-describedby="emailHelp"
              placeholder="&nbsp;" />
            <label for="" class="form-label label-control">Email address
            </label>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-lg btn-primary text-white m-0 d-flex align-items-center">
              <i class="ri-mail-send-fill me-2"></i>
              SUBSCRIBE
            </a>
          </li>
        </ul>
        <div id="emailHelp" class="form-text">We'll never share your email with
          anyone else.</div>
      </div>
      <div class="col-6 col-lg-3 mt-4">
        <h5 class="fs-6">ABOUT BHAYA CRUISES</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">Why Bhaya</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">Press & News</a>
          </li>
          <li>
            <a href="#">Charter & MICE</a>
          </li>
          <li>
            <a href="#">Sustainable</a>
          </li>
          <li>
            <a href="#">Tourism</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-3 mt-4">
        <h5 class="fs-6">ABOUT BHAYA CRUISES</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">Why Bhaya</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">Press & News</a>
          </li>
          <li>
            <a href="#">Charter & MICE</a>
          </li>
          <li>
            <a href="#">Sustainable</a>
          </li>
          <li>
            <a href="#">Tourism</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-3 mt-4">
        <h5 class="fs-6">ABOUT BHAYA CRUISES</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">Why Bhaya</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">Press & News</a>
          </li>
          <li>
            <a href="#">Charter & MICE</a>
          </li>
          <li>
            <a href="#">Sustainable</a>
          </li>
          <li>
            <a href="#">Tourism</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-3 mt-4">
        <h5 class="fs-6">LINK WITH US</h5>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#"><i class="ri-messenger-fill fs-4"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="ri-youtube-fill fs-4"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="ri-facebook-fill fs-4"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="ri-twitter-fill fs-4"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="ri-instagram-fill fs-4"></i></a>
          </li>
        </ul>

        <h5 class="fs-6">IDENTITY & SECURITY</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#"><img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8cbisHgAHngKy8dJ9pAAAAABJRU5ErkJggg=="
                data-src="https://placehold.jp/150x75.png" alt="#" class="lazy" /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-7 form-small mb-4">
        <h5 class="fw-normal fs-6">BHAYA CRUISE COMPANY LIMITED</h5>
        <p class="mb-1"> Business Registration: 5700602538</p>

        <p class="mb-1">Owner of Bhaya Classic, Bhaya Premium, The Au Co, Bhaya
          Legend</p>

        <p class="mb-1"> Email: sales@bhayacruises.com</p>

        <p class="mb-1">Hotline: (+84) 933-44-654</p>

        <p class="mb-1"><i>Instant support via WhatsApp, Viber, Line, WeChat,
            Telegram & Kakao Talk (UTC +7)</i>
        </p>
      </div>
      <div class="col-lg-5">
        <h5 class="fw-normal fs-6">ALL DATA ECRYPTED & PROTECTED BY</h5>
        <a href="#"><img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8cbisHgAHngKy8dJ9pAAAAABJRU5ErkJggg=="
            data-src="https://placehold.jp/150x75.png" alt="#" class="lazy" /></a>
      </div>
    </div>
  </div>
</div>