<div class="header video-container">

  {{>header-component/nav.hbs}}
  <div class="cruise-icon list-boat">
    <div class="swiper cruise-icon-inner">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="d-flex flex-column align-items-center justify-content-center">
            {{>header-component/oneicon}}</div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex flex-column align-items-center justify-content-center">
            {{>header-component/oneicon}}</div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex flex-column align-items-center justify-content-center">
            {{>header-component/oneicon}}</div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex flex-column align-items-center justify-content-center">
            {{>header-component/oneicon}}</div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex flex-column align-items-center justify-content-center">
            {{>header-component/oneicon}}</div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex flex-column align-items-center justify-content-center">
            {{>header-component/oneicon}}</div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex flex-column align-items-center justify-content-center">
            {{>header-component/oneicon}}</div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex flex-column align-items-center justify-content-center">
            {{>header-component/oneicon}}</div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex flex-column align-items-center justify-content-center">
            {{>header-component/oneicon}}</div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
  <img
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8cbisHgAHngKy8dJ9pAAAAABJRU5ErkJggg=="
    data-src="https://placehold.jp/1600x900.png" class="w-100 h-100 object-fit-cover">

</div>