{{>header-component/nav.hbs}}
<div class="header min-vh-100">



  <div class="bg-full-screen min-vh-100"
    style=" background-image: url('https://i.ytimg.com/vi/kKjwvrH5vPs/maxresdefault.jpg');">

  </div>
  <div class="cruise-icon list-boat">
    <div class="swiper cruise-icon-inner">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="d-flex align-items-center justify-content-center">
            <img src="./images/icon-logo.png" alt="logo" class="lazy me-3 pb-3" />
            <h2 class="fs-5 fw-lighter border-bottom border-light pb-2"><a
                href="https://bhayacruises.com/the-au-co-cruise" class="fw-lighter">Indochine Lan Ha Bay</a></h2>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex align-items-center justify-content-center">
            <img src="./images/icon-logo.png" alt="logo" class="lazy me-3 pb-3" />
            <h2 class="fs-5 fw-lighter border-bottom border-light pb-2"><a
                href="https://bhayacruises.com/the-au-co-cruise" class="fw-lighter">Indochine Premium Halong</a></h2>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex align-items-center justify-content-center">
            <img src="./images/icon-logo.png" alt="logo" class="lazy me-3 pb-3" />
            <h2 class="fs-5 fw-lighter border-bottom border-light pb-2"><a
                href="https://bhayacruises.com/the-au-co-cruise" class="fw-lighter">Indochina Sails Halong</a></h2>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex align-items-center justify-content-center">
            <img src="./images/icon-logo.png" alt="logo" class="lazy me-3 pb-3" />
            <h2 class="fs-5 fw-lighter border-bottom border-light pb-2"><a
                href="https://bhayacruises.com/the-au-co-cruise" class="fw-lighter">Valentine Premium Halong</a></h2>
          </div>
        </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</div>